@inject IModalService ModalService

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Simple Modal</h5>

        <div class="row mt-2 align-items-end">
            <div class="col">
                <button class="btn btn-primary" @onclick="ShowModal">Show Modal</button>
            </div>
            <div class="col-auto">
                <span class="fw-bold">Result: </span>
                @if (Result is null)
                {
                    <span class="text-muted fst-italic">Not Launched</span>
                }
                else if (Result.IsCanceled)
                {
                    <span class="text-danger">
                        <span class="oi oi-circle-x" aria-hidden="true"></span>
                        Canceled
                    </span>
                }
                else
                {
                    <span class="text-success">
                        <span class="oi oi-circle-check" aria-hidden="true"></span>
                        Confirmed!
                    </span>
                }
            </div>
        </div>
    </div>
</div>

@code {

    private ModalResult? Result { get; set; }

    private async Task ShowModal()
    {
        Result = await ModalService.Open<SimpleModal>();
    }
}