@page "/"

<PageTitle>BlazorDoodles.Modal</PageTitle>

<h1>Sample Modals</h1>

<div class="d-flex flex-column gap-4">
    <SimpleModalDemo />
    <ConfirmationModalDemo />
    <FormModelDemo />
</div>
